# Pour reproduction du projets

# Commande pour tout installer  =>  pip install -r requirements.txt

Flask==3.0.2

#formulaires
Flask-wtf==1.2.1
email_validator==2.1.1

#ORM pour la db
sqlalchemy==2.0.28
flask_sqlalchemy==3.1.1
psycopg2==2.9.9 # pour se connecter avec postgre

# Connexion
Flask-login==0.6.3
