{% extends "index.html" %}

{% block title %} Create - Task {% endblock %}

{% block content%}
<img src="{{url_for('static', filename='img/task.jpg')}}" alt="Logo" height="150">
    <h1>Create Task</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.description.label }}<br>
            {{ form.description() }}
        </p>
        <p>
            {{ form.user_id.label }}<br>
            {{ form.user_id() }}
        </p>
        <button type="submit">Submit</button>
    </form>
{% endblock %}